<ion-header>
    <ion-icon src="/assets/icon/logo_greenwave.svg"></ion-icon>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="contenu" >
      <p>Bienvenue sur l'application Greenwave</p>
<ion-select placeholder="Type d'indicateur">
<ion-select-option value="eau">Eau</ion-select-option>
  <ion-select-option value="air">Air</ion-select-option>
  <ion-select-option value="sol">Sol</ion-select-option>
  <ion-select-option value="dechet">Déchets</ion-select-option>
</ion-select>
    </ion-card-content>
  </ion-card>
</ion-content>
