<ion-header>
      <!--le logo -->
    <ion-icon src="/assets/icon/logo_greenwave.svg" ></ion-icon>
</ion-header>
<!--le corps de l'application -->
<ion-content padding=" " >
    <ion-card>
      <!--conteneur de la zone de saisie de username et password-->
                <ion-card-content class="contenu">
                    <!--formulaire de la zone de saisie de username et password-->
                    <form #f="ngForm" (ngSubmit)="OnSubmitForm(f)">

                    <div class = "list">
                <p [ngStyle]="{'color':'white'}"> Greenwave</p>
                <ion-label >
                    Username
                </ion-label>
                <ion-input  placeholder="Username" type="text"> </ion-input>
                <br/>
                <ion-label>
                    Password
                </ion-label>
                <ion-input  placeholder="Password" type="password" [clearOnEdit]="true"> </ion-input>
                <br/>

                <p [ngStyle]="{'color':'white'}"> Mot de passe oublié?</p>
            </div>

            <ion-button>
                Connexion
            </ion-button>

</form>
        </ion-card-content>
    </ion-card>
     </ion-content>
